/* Variables */
:root {
  --color-text: hsl(0deg, 0%, 100%);
  --color-text-module: hsl(222deg, 22%, 5%);
  --color-background: hsl(274deg 16% 8%);
  --color-background-module: hsl(210deb, 15%, 6%);
  --color-background-module-page: hsl(0deg, 0%, 94.9%);
  --color-blurred-background: hsla(210deg, 30%, 8%, 0.85);
  --color-primary: hsl(333deg, 100%, 52%);
  --color-secondary: hsl(230deg, 92%, 63%);
  --color-tertiary: hsl(53deg, 100%, 50%);
  --color-decorative: hsl(200deg, 50%, 60%);
  --color-muted: hsl(210deg, 38%, 15%);
  --color-error: hsl(340deg, 95%, 60%);
  --color-error-background: hsla(340deg, 95%, 43%, 0.1);
  --color-success: hsl(160deg, 100%, 40%);
  --color-success-background: hsla(160deg, 100%, 40%, 0.1);
  --color-alert: hsl(30deg, 100%, 50%);
  --color-alert-background: hsla(38deg, 100%, 50%, 0.1);
  --color-gray-300: hsl(223deg, 5%, 30%);
  --color-gray-500: hsl(223deg, 5%, 50%);
  --color-gray-700: hsl(223deg, 5%, 60%);
  --color-buy: hsl(333deg 100% 45%);
  --color-buy-shadow: hsl(333deg 100% 40%);
  --color-link: hsl(250deg 100% 77.5%);

  --font-family: 'Wotfard';
  --font-size: 20px;
}

/* Fonts */
@font-face {
  font-family: 'Wotfard';
  src: url(../assets/Wotfard-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard';
  src: url(../assets/Wotfard-Bold.woff2);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard';
  src: url(../assets/Wotfard-Italic.woff2);
  font-weight: normal;
  font-style: italic;
}

/* Theme */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}
